body {
  background-image: url("https://www.xtrafondos.com/descargar.php?id=3654&resolucion=3840x2160");
  background-repeat: inherit;
  background-size: contain;
  background-position: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.container {
  border: 5px ridge rgb(255, 255, 0);
  padding: 0 5px;
}

.container h2 {
  border: 2px ridge rgb(255, 255, 0);
  background-color: rgb(12, 12, 56);
  color: rgb(255, 255, 0);
}

h4 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 3px;
  background-color: rgb(12, 12, 56);
  word-spacing: 5px;
  padding: 7px;
}
.mini-ca-grid {
  margin: 0;
  padding: 3rem 0 3rem 2rem;
  display: flex;
  overflow-x: scroll;
}
*,
:after,
:before {
  box-sizing: border-box;
}
h2,
h3 {
  padding: 0;
  margin: 0;
}
span {
  color: rgb(12, 12, 56);
  font-weight: bold;
}
form {
  background-color: rgb(255, 255, 0);
  width: 300px;
  height: 200px;
  position: absolute;
  top: 530px;
  bottom: 0;
  right: 440px;
  padding: 20px;
  border: 5px ridge #fff;
  opacity: 0.7;
}
#create {
  position: absolute;
  font-size: 27px;
  top: 150px;
  bottom: 0;
  right: 370px;
  left: 370px;
  color: #fff;
  text-shadow: 1px 3px 3px rgb(255, 255, 0);
}
label {
  color: rgb(12, 12, 56);
  font-size: 18px;
  font-weight: bold;
}
label input {
  width: 200px;
  height: 30px;
  margin: 5px;
}
#register {
  letter-spacing: 2px;
  margin-top: 5px;
  background-color: rgb(12, 12, 56);
  color: #fff;
  padding: 7px;
}
#register:hover {
  background-color: #000;
  color: rgb(255, 255, 0);
}
.animaton {
  font-size: 50px;
  margin: 0;
}

.animaton span {
  display: inline-block;
}
.animaton span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animaton span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animaton span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animaton span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animaton span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animaton span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animaton span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animaton span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animaton span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animaton span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animaton span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animaton span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animaton span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animaton span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animaton span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animaton span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animaton span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animaton span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animaton span:nth-of-type(20) {
  animation-delay: 0.95s;
}
.animaton span:nth-of-type(21) {
  animation-delay: 1s;
}
.animaton span:nth-of-type(22) {
  animation-delay: 1.05s;
}
.animaton span:nth-of-type(23) {
  animation-delay: 1.1s;
}
.animaton span:nth-of-type(24) {
  animation-delay: 1.15s;
}
.animaton span:nth-of-type(25) {
  animation-delay: 1.2s;
}
.animaton span:nth-of-type(26) {
  animation-delay: 1.25s;
}
.first span {
  color: rgb(255, 255, 0);
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide 0.9s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: rgb(255, 255, 0);
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: rgb(255, 255, 0);
  }

  99% {
    transform: translate(0) scale(1.2);
    color: rgb(12, 12, 56);
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: rgb(255, 255, 0);
  }
}
